{%- for category in categories -%}
	<h1 class="navigation-headline">{{ category.label }}</h1>
	<ul>
		{%- for component in category.visibleComponents -%}
			<li>
			{%- if component is same as (currentComponent) -%}
				<strong>{{ component.label }}</strong>
			{%- else -%}
				<a href="{{ path("umbrella.component", {category: category.key, key: component.key}) }}">{{ component.label }}</a>
			{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{%- endfor -%}

{% if docs is not empty %}
	<h1 class="navigation-headline">{{ "component.section.docs" | trans({}, "umbrella") }}</h1>
	<ul>
		{% for doc in docs %}
			<li>
				{%- if doc is same as (currentDocsPage) -%}
					<strong>{{ doc.title }}</strong>
				{%- else -%}
					<a href="{{ path("umbrella.docs", {key: doc.key}) }}">{{ doc.title }}</a>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{% endif %}
