{%- for category in categories -%}
	<h1 class="navigation-headline">
		<span class="icon icon-components">{{ asset_embed("@umbrella/icon/components.svg") }}</span>
		{{- category.label -}}
	</h1>
	<ul>
		{%- for component in category.visibleComponents -%}
			<li>
			{%- if component is same as (currentComponent) -%}
				<strong>{{ component.label }}</strong>
			{%- else -%}
				<a href="{{ path("umbrella.component", {category: category.key, key: component.key}) }}">{{ component.label }}</a>
			{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{%- endfor -%}

{%- if docs is not empty -%}
	<h1 class="navigation-headline">
		<span class="icon icon-docs">{{ asset_embed("@umbrella/icon/docs.svg") }}</span>
		{{- "component.section.docs" | trans({}, "umbrella") -}}
	</h1>
	<ul>
		{%- for doc in docs -%}
			<li>
				{%- if doc is same as (currentDocsPage) -%}
					<strong>{{ doc.title }}</strong>
				{%- else -%}
					<a href="{{ path("umbrella.docs", {key: doc.key}) }}">{{ doc.title }}</a>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{%- endif -%}


{%- if customPages is not empty -%}
	<h1 class="navigation-headline">
		<span class="icon icon-custom-page">{{ asset_embed("@umbrella/icon/custom-page.svg") }}</span>
		{{- "component.section.custom-pages" | trans({}, "umbrella") -}}
	</h1>
	<ul>
		{%- for customPage in customPages -%}
			<li>
				{%- if customPage is same as (currentCustomPage) -%}
					<strong>{{ customPage.title }}</strong>
				{%- else -%}
					<a href="{{ path("umbrella.page", {key: customPage.key}) }}">{{ customPage.title }}</a>
				{%- endif -%}
			</li>
		{%- endfor -%}
	</ul>
{%- endif -%}
